/* All styling for buttons */

/* hit and stand buttons  */
.buttons {
    padding-left: 5%;
    display: flex;
    justify-content: space-evenly;
}

/* text color for all buttons  */
.btn {
    color: white !important;
}

/* border and background color for hit, stand, start and rules button  */
.btn-outline-danger {
    border-color: rgb(112, 20, 20) !important;
}

.btn-outline-danger:hover {
    background-color: rgb(112, 20, 20) !important;
}

/* coloring for bet buttons  */
.btn-warning {
    background-color: rgba(214, 195, 17, 0.6)!important;
    border: none!important;
}

.btn-warning:hover {
    background-color: rgba(214, 195, 17)!important;
}

/* remove focus and active button shadow  */
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    outline: 0 !important;
    outline-offset: 0 !important;
    background-image: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/* bet button position  */
.bet-buttons {
    width: 100px;
    height: 200px;
    position: absolute;
    display: flex;
    justify-content: center;
}

/* positioning of the bet buttons */
#ten {
    position: absolute;
    top: 15%;
}

#twentyfive {
    position: absolute;
    top: 39%;
}

#fifty {
    position: absolute;
    top: 63%;
}

#all-in {
    position: absolute;
    top: 90%;
}

/* positioning of the game over button  */
#game-restart {
    position: absolute;
    top: 30%;
    left: 35%;
    font-size: 50px;
    text-align: center;
}

/* positioning and coloring of the rules button  */
#rules-button {
    position: absolute;
    top: 55%;
    left: 47%;
    border-color: rgba(214, 195, 17, 0.7)!important;
}

#rules-button:hover {
    background-color: rgba(214, 195, 17, 0.7)!important;
}