
/*

Positioning cards for the house and players

*/

.card-image-0 {
    position: absolute;
    left: 3%;
    z-index: 0;
}
.card-image-1 {
    position: absolute;
    left: 18%;
    z-index: 1;
}
.card-image-2 {
    position: absolute;
    left: 33%;
    z-index: 2;
}
.card-image-3 {
    position: absolute;
    left: 48%;
    z-index: 3;
}
.card-image-4 {
    position: absolute;
    left: 63%;
    z-index: 4;
}
.card-image-5 {
    position: absolute;
    left: 78%;
    z-index: 5;
}

.house-card-0 {
    position: absolute;
    left: 3%;
    z-index: 0;
}

.house-card-1 {
    position: absolute;
    left: 18%;
    z-index: 1;
}

.house-card-2 {
    position: absolute;
    left: 33%;
    z-index: 2;
}

.house-card-3 {
    position: absolute;
    left: 48%;
    z-index: 3;
}

.house-card-4 {
    position: absolute;
    left: 63%;
    z-index: 4;
}

.house-card-5 {
    position: absolute;
    left: 78%;
    z-index: 5;
}