body,
html {
    width: 100%;
    height: 100%;
    background-image: url(images/felt.png);
    -moz-box-shadow: inset 0 0 500px #000000;
    -webkit-box-shadow: inset 0 0 500px #000000;
    box-shadow: inset 0 0 500px #000000;
}

h3 {
    font-size: 20px!important;
}

p {
    font-size: 25px;
    font-weight: 500;
}

.header {
    position: absolute;
    z-index: 1;
    color: rgba(214, 195, 17, 0.3);
    right: 2%;
    top: 12%;
    font-size: 5em;
    transform: rotate(-25deg);
    letter-spacing: 10px;
    font-weight: 600;
}

img {
    width: 90px;
    margin: 5px;
}

.cards,
.house-cards {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#top {
    height: 48%;
    border-bottom: 5px solid rgba(214, 195, 17, 0.3);
    margin-bottom: 10px;
}

.house {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.casino .house-cards {
    border: 1px solid rgb(214, 195, 17);
    padding: 2px;
    width: 80%;
}

.notification {
    position: absolute;
    top: 10%;
    left: 10%;

}

#retry {
    font-size: 30px;
}

.message {
    color: white;
    margin-top: 10px;
    font-size: 4em;
}

.card-container {
    padding-left: 50px;
    display: flex;
    justify-content: space-around;
}

.player, .casino {
    width: 200px;
    text-align: center;
    color: white;
}

.first-player .cards {
    border: 1px solid white;
    padding: 2px;
    width: 80%;
    margin-bottom: 2px;
}

.text,
.house-text {
    color: white;
    display: flex;
    justify-content: center;
    border: 3px solid rgb(112, 20, 20);
    border-left: none;
    border-right: none;
    margin: 7px;
}

.text p {
    height: 100%;
    padding: 10px 0 12px 0;
    margin-bottom: 0;
    align-self: center;
}

.house-text p {
    height: 100%;
    padding: 10px 0 12px 0;
    margin-bottom: 0;
    align-self: center;
}

.buttons {
    padding-left: 5%;
    display: flex;
    justify-content: space-evenly;
}

.card-image-0 {
    position: relative;
    right: 15%;
    z-index: 0;
}

.house-card-0 {
    position: relative;
    right: 15%;
    z-index: 0;
}

.card-image-1 {
    position: absolute;
    left: 12%;
    z-index: 1;
}

.house-card-1 {
    position: absolute;
    left: 46.5%;
    z-index: 1;
}

.card-image-2 {
    position: absolute;
    z-index: 2;
    left: 14%;
}

.house-card-2 {
    position: absolute;
    left: 48.7%;
    z-index: 2;
}

.card-image-3 {
    position: absolute;
    z-index: 3;
    left: 16%;
}

.house-card-3 {
    position: absolute;
    left: 51.2%;
    z-index: 3;
}

.card-image-4 {
    position: absolute;
    z-index: 4;
    left: 18%;
}

.house-card-4 {
    position: absolute;
    left: 53.5%;
    z-index: 4;
}

.btn {
    color: white !important;
}

.btn-outline-danger {
    border-color: rgb(112, 20, 20) !important;
}

.btn-outline-danger:hover {
    background-color: rgb(112, 20, 20) !important;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    outline: 0 !important;
    outline-offset: 0 !important;
    background-image: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}